<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<form th:action="@{/auth}" method="post">
  <table >
    <tr>
      <td>name</td>
      <td><label>
        <input type="text" name = "username">
      </label></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><label>
        <input type="text" name = "password">
      </label></td>
    </tr>
  </table>
  <button type="submit">Log in</button>
</form>
</body>
</html>