<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products list</title>
    <link href="/static/css/user-list.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<form method="get" action="/products/search">
    <input type="text" name="searchTerm" placeholder="Search...">
    <button type="submit">Search</button>
</form>
<div>
    <a th:each="category : ${categories}" th:href="@{/products/{category}(category=${category})}">
        <button th:text="${category}"></button>
    </a>
</div>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Manufacturer</th>
        <th>Category</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.name}">Testname</td>
        <td th:text="${product.manufacturer}">Testmail</td>
        <td th:text="${product.category != null ? product.category : 'N/A'}">Testcat</td>
        <td th:text="${product.price}">Testprice</td>
        <td>
            <form th:action="@{/bucket/{productId}(productId=${product.id})}" method="post">
                <input type="submit" value="Add to bucket"/>
            </form>
        </td>
    </tr>
</table>
<a sec:authorize="hasAnyAuthority('ADMIN')" th:href="@{/products/new}">
    <button>Add new</button>
</a>
</body>
</html>